* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  min-width: fit-content;
}
.body {
  background: skyblue;
  /* padding: 20px; */
  min-width: fit-content;
}

/* NAVBAR */

nav {
  background: silver;
  padding: 15px;
  width: 100%;
}
.item {
  padding: 10px;
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.item a {
  color: white;
  text-decoration: none;
}

.menu {
  /* list-style-type: none; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.logo {
  display: inline-block;
  width: 90%;
  font-size: 20px;
  padding-right: 10px;
  justify-content: center;
  color: white;
  padding-left: 30px;
}

.item {
  padding: 10px;
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.item a:hover,
.item a:hover::after {
  color: blue;
}

.menu li a {
  display: block;
  padding: 15px 5px;
}

.toggle {
  order: 1;
  font-size: 20px;
  display: inline-block;
}

.active .item {
  display: block;
}

/* Tablet view */
@media all and (min-width: 700px) {
  /* NAVBAR */
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item {
    width: auto;
    order: 2;
    display: block;
    padding: 0 10px;
  }

  .headerDiv {
    display: flex;
    align-items: center;
  }

  .toggle {
    display: none;
  }

  /* ///////////////////////// */

  .body {
    background: skyblue;
    min-width: fit-content;
    /* padding: 50px; */
  }
}

.logo-img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

/* /////////////////////////// HOME ////////////////////////// */
#home {
  padding: 50px;
  background-color: snow;
  margin: 0.5px;
}
#home-img {
  align-self: center;
}

#headshot {
  width: 250px;
  height: 300px;
  border-radius: 85px;
}

.home-about {
  margin: 10px;
  list-style: none;
}

/* .row {
  width: 100%;
} */

/* ////////////////////////////////////////////////////////////////// */

/* ////////////////////////////// Projects /////////////////////////// */
#portfolio {
  background-color: tan;
  padding: 50px;
  margin: 0.5px;
}

.projects {
  text-align: center;
}

.card-container {
  margin: 10;
  /* background-color: blue; */
}

.card-img-top {
  height: 380px;
}

.card-container .card {
  padding: 30px;
  background-color: silver;
}

#p4-img {
  width: 185px;
  height: 380px;
  align-self: center;
}

/* ////////////////////////////////////////////////////////////////////// */

/* //////////////////////SKILLS/EDUCATION ///////////////////////////////// */

#skills-education {
  flex-direction: column;
  padding: 50px;
  background-color: thistle;
  align-items: center;
  justify-content: center;
  margin: 0.5px;
}

.card-container .skill-card {
  /* border: gray solid 1px; */
  margin: auto;
  flex-direction: row;
  padding: 3px;
  background-color: white;
  max-width: 670px;
}

.left-div {
  width: 170px;
}

.backend {
  background-color: lightgreen;
}

.icon-img {
  width: 30px;
  height: 30px;
}

.frontend {
  background-color: cyan;
}

.apis {
  background-color: peachpuff;
}

.left-text {
  /* background-color: cornsilk; */
  text-align: center;
  align-self: center;
  margin-top: 140px;
  font-size: 20px;
  font-weight: 700;
}

.right-div {
  /* background-color: chartreuse; */
  padding-left: 60px;
  padding-top: 15px;
  height: 320px;
}

.skills-list li {
  list-style-type: none;
  margin: 10px;
  /* margin-bottom: 10px; */
}

.auth {
  font-weight: 700;
}
/* ////////////////////////////////////////////////////////////////////////// */
