* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* NAVBAR */

nav {
  background: gray;
  padding: 15px;
}
.item {
  padding: 10px;
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.item a {
  color: white;
  text-decoration: none;
}

.menu {
  /* list-style-type: none; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.logo {
  display: inline-block;
  width: 90%;
  font-size: 20px;
  padding-right: 10px;
  justify-content: center;
  color: white;
}

.item {
  padding: 10px;
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.item a:hover,
.item a:hover::after {
  color: blue;
}

.menu li a {
  display: block;
  padding: 15px 5px;
}

.toggle {
  order: 1;
  font-size: 20px;
  display: inline-block;
}

.active .item {
  display: block;
}

/* Tablet view */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item {
    width: auto;
    order: 2;
    display: block;
    padding: 0 10px;
  }
  .headerDiv {
    display: flex;
    align-items: center;
  }
  .toggle {
    display: none;
  }
}

.logo-img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

/* /////////////////////////// HOME ////////////////////////// */

#home-img {
  align-self: center;
}

#headshot {
  width: 250px;
  height: 300px;
  border-radius: 85px;
}

#home {
  padding: 50px;
  background-color: silver;
}

.home-about {
  margin: 10px;
  list-style: none;
}

.row {
  width: 100%;
}

/* ////////////////////////////////////////////////////////////////// */

/* ////////////////////////////// PORTFOLIO /////////////////////////// */
.projects {
  text-align: center;
}

.card-container {
  margin: 10;
}

.card-img-top {
  height: 380px;
}

.card-container .card {
  padding: 30px;
  background-color: gray;
}

#p4-img {
  width: 185px;
  height: 380px;
  align-self: center;
}

/* ////////////////////////////////////////////////////////////////////// */

/* //////////////////////SKILLS/EDUCATION ///////////////////////////////// */
#skills-education {
  /* background-color: indianred; */
  padding: 10px;
  /* align-items: center; */
}

.header {
  /* background-color: lightpink; */
  /* padding: 20px; */
}

.skill {
  align-items: center;
  text-align: center;
  border: 1px black solid;
  margin-bottom: 15px;
}

.left {
  height: 400px;
  background-color: blue;
}

.right {
  background-color: mediumvioletred;
  height: 400px;
  padding: 40px;
}

.backend-header {
  background-color: lightsalmon;
  padding: 30px;
}

.frontend-header {
  background-color: maroon;
}

.api-header {
  background-color: lawngreen;
}

.skill-list {
  margin-top: 30px;
  list-style-type: none;
  text-align: initial;
  height: 400px;
}

.skill-list li {
  margin: 10px;
}

.skill-type {
  margin-top: 180px;
}

/* ////////////////////////////////////////////////////////////////////////// */
