* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

body,
html {
  height: 100%;
}

/* //////////////////////////////////HEADER///////////////////////////////////// */
.p-header {
  align-items: center;
  /* margin-bottom: 20px; */
  background-color: #4d7998;
}

.logo-div {
  padding-left: 10px;
}

.p-logo {
  border-radius: 50px;
  width: 70px;
  height: 70px;
}

.p-name {
  position: relative;
  margin: auto;
  left: -40px;
  font-weight: 700;
}

/* ///////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////// */

/* //////////////////////////////DESCRIPTION////////////////////////////// */
body .container {
  padding: 0;
}

.p-bottom {
  background-color: #ececec;
  /* height: 440px; */
}

#bottom {
  position: fixed;
  bottom: 0;
}

#tb-row {
  margin: 0;
  width: 100%;
}

.icon-container {
  padding: 20px;
  align-self: center;
}

.icon-container .icon-img {
  width: 30px;
  height: 30px;
}

.icon-list {
  list-style: none;
  justify-content: center;
  margin: 0;
  padding-inline-start: 0;
}

.icon-list li {
  padding: 10px;
}

.description-container {
  padding: 0 30px 0 30px;
}

p {
  font-size: 20px;
}

#myCarousel {
  width: 100vw;
  height: 300px;
  margin: auto;
}

#myCarouseltb {
  padding: 20px;
  width: 60vw;
  height: auto;
  margin: auto;
}

@media only screen and (min-width: 700px) {
  #myCarouseltb {
    width: 30vw;
    height: auto;
    margin: auto;
  }
  #myCarousel {
    width: 60vw;
    height: auto;
    margin: auto;
  }
  #tb-row {
    max-width: fit-content;
  }
}

@media only screen and (min-width: 900px) {
  #myCarouseltb {
    width: 20vw;
    height: auto;
    margin: auto;
  }
  #tb-row {
    max-width: fit-content;
  }
}
