* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

/* //////////////////////////////////HEADER///////////////////////////////////// */
.p-header {
  align-items: center;
  /* margin-bottom: 20px; */
  background-color: #4d7998;
}

.logo-div {
  padding-left: 10px;
}

.p-logo {
  border-radius: 50px;
  width: 70px;
  height: 70px;
}

.p-name {
  position: relative;
  margin: auto;
  left: -40px;
  font-weight: 700;
}

/* ///////////////////////////////////////////////////////////////////// */

.p-container {
  /* text-align: center; */
}
/* //////////////////////////PICTURES///////////////////////////////// */
.p-top {
  text-align: center;
}

.slideshow {
  min-height: 248px;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.slideshow li {
  width: 100vw;
  height: auto;
  position: absolute;
  opacity: 0;
  animation: imageAnimation 50s linear infinite;
}

.chat li:nth-child(1) {
  content: url('assets/chat_5.png');
}
.chat li:nth-child(2) {
  content: url('assets/chat_3.png');
  animation-delay: 10s;
}
.chat li:nth-child(3) {
  content: url('assets/chat_2.png');
  animation-delay: 20s;
}

.vote li:nth-child(1) {
  content: url('assets/vote_4.png');
}
.vote li:nth-child(2) {
  content: url('assets/vote_3.png');
  animation-delay: 10s;
}
.vote li:nth-child(3) {
  content: url('assets/vote.png');
  animation-delay: 20s;
}

.tb li:nth-child(1) {
  content: url('assets/tb.PNG');
}
.tb li:nth-child(2) {
  content: url('assets/tb_2.PNG');
  animation-delay: 10s;
}
.tb li:nth-child(3) {
  content: url('assets/tb_4.PNG');
  animation-delay: 20s;
}

.sudoku li:nth-child(1) {
  content: url('assets/sudoku.png');
}
.sudoku li:nth-child(2) {
  content: url('assets/sudoku_2.png');
  animation-delay: 10s;
}
.sudoku li:nth-child(3) {
  content: url('assets/sudoku_3.png');
  animation-delay: 20s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    display: none;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    display: inline;
    animation-timing-function: ease-out;
  }
  20% {
    display: inline;
    opacity: 1;
  }
  30% {
    display: none;
    opacity: 0;
  }
}

/* ///////////////////////////////////////////////////////////////////// */

/* //////////////////////////////DESCRIPTION////////////////////////////// */
.p-bottom {
  background-color: #ececec;
  /* height: 440px; */
}

.icon-container {
  padding: 20px;
  align-self: center;
}

.icon-container .icon-img {
  width: 30px;
  height: 30px;
}

.icon-list {
  list-style: none;
  justify-content: center;
  margin: 0;
  padding-inline-start: 0;
}

.icon-list li {
  padding: 10px;
}

.description-container {
  padding: 0 30px 0 30px;
  /* background-color: lightskyblue; */
}

/* ///////////////////////////////////////////////////////////////////// */

@media all and (min-width: 700px) {
  .slideshow {
    min-height: 280px;
  }

  .slideshow li {
    width: 80vw;
    left: 70px;
  }
}

@media all and (min-width: 800px) {
  .slideshow {
    min-height: 480px;
  }

  .slideshow li {
    width: 70vw;
    left: 215px;
  }
}
